Repository ory/hydra, pull requests merged in 2018-08, with the labels that each got.

#968 sdk: Add AdminURL and PublicURL to configuration
  UPGRADE.md
  consent/sdk_test.go
  sdk/go/hydra/sdk.go
Labels: breaking-change, bug, sdk

#972 oauth2: Refactor JWT strategy
  cmd/server/handler_oauth2_factory.go
  jwk/jwt_strategy.go
  oauth2/handler.go
  oauth2/handler_struct.go
Labels: enhancement, oauth2

#975 vendor: Upgrade to latest sqlcon
  Gopkg.lock
  Gopkg.toml
Labels: cmd, enhancement

#983 sdk: Upgrade superagent to 3.7.0
  package.json
Labels: enhancement, vulnerability

#984 consent: Add logout api endpoint
  cmd/root.go
  cmd/serve.go
  cmd/server/handler.go
  cmd/server/handler_consent_factory.go
  config/config.go
  consent/handler.go
  consent/handler_test.go
  consent/sdk_test.go
  consent/strategy_default.go
  consent/strategy_default_test.go
  docs/api.swagger.json
  oauth2/handler.go
  oauth2/handler_fallback_endpoints.go
  oauth2/oauth2_auth_code_test.go
  sdk/go/hydra/swagger/README.md
  sdk/go/hydra/swagger/docs/OAuth2Api.md
  sdk/go/hydra/swagger/o_auth2_api.go
  sdk/js/swagger/README.md
  sdk/js/swagger/docs/JSONWebKey.md
  sdk/js/swagger/docs/JSONWebKeySet.md
  sdk/js/swagger/docs/OAuth2Api.md
  sdk/js/swagger/src/api/OAuth2Api.js
  sdk/js/swagger/src/model/JSONWebKey.js
  sdk/js/swagger/src/model/JSONWebKeySet.js
  sdk/php/swagger/README.md
  sdk/php/swagger/docs/Api/OAuth2Api.md
  sdk/php/swagger/docs/Model/JSONWebKey.md
  sdk/php/swagger/docs/Model/JSONWebKeySet.md
  sdk/php/swagger/lib/Api/OAuth2Api.php
  sdk/php/swagger/lib/Model/JSONWebKey.php
  sdk/php/swagger/lib/Model/JSONWebKeySet.php
Labels: consent, enhancement, oauth2

#989 consent: Populate consent session with default values
  consent/strategy_default.go
  consent/strategy_default_test.go
  consent/types.go
Labels: bug, consent

#993 cmd: Public subject type should cause public id alg
  cmd/server/handler_oauth2_factory.go
Labels: cmd, debt

#994 sdk: Add new methods to SDK interface
  sdk/go/hydra/sdk_api.go
Labels: enhancement, sdk

#995 cmd: Add version to banner
  cmd/server/banner.go
  cmd/server/handler.go
Labels: cmd, enhancement

#997 cmd: Disable CORS by default
  UPGRADE.md
  cmd/serve.go
  cmd/server/handler.go
Labels: bug, cmd, enhancement

#998 cmd: Use viper for cors detection
  cmd/server/handler.go
Labels: enhancement

#1008 vendor: Upgrade sqlcon to 0.0.6
  Gopkg.lock
  Gopkg.toml
Labels: enhancement

#1013 consent: Forward session and login information
  consent/manager_test.go
  consent/sql_helper.go
  consent/strategy_default.go
  consent/strategy_default_test.go
  consent/types.go
  docs/api.swagger.json
  sdk/go/hydra/swagger/consent_request.go
  sdk/go/hydra/swagger/docs/ConsentRequest.md
  sdk/go/hydra/swagger/docs/LoginRequest.md
  sdk/go/hydra/swagger/docs/OAuth2Client.md
  sdk/go/hydra/swagger/login_request.go
  sdk/go/hydra/swagger/o_auth2_client.go
  sdk/js/swagger/docs/ConsentRequest.md
  sdk/js/swagger/docs/LoginRequest.md
  sdk/js/swagger/docs/OAuth2Client.md
  sdk/js/swagger/src/model/ConsentRequest.js
  sdk/js/swagger/src/model/LoginRequest.js
  sdk/js/swagger/src/model/OAuth2Client.js
  sdk/php/swagger/docs/Model/ConsentRequest.md
  sdk/php/swagger/docs/Model/LoginRequest.md
  sdk/php/swagger/docs/Model/OAuth2Client.md
  sdk/php/swagger/lib/Model/ConsentRequest.php
  sdk/php/swagger/lib/Model/LoginRequest.php
  sdk/php/swagger/lib/Model/OAuth2Client.php
Labels: consent, enhancement

#1018 cmd: Clarify HYDRA_ADMIN_URL in missing endpoint message
  config/config.go
Labels: bug, cmd

#1017 oauth2: Accept expired JWTs as id_token_hint
  Gopkg.lock
  Gopkg.toml
  consent/strategy_default.go
  consent/strategy_default_test.go
Labels: bug, consent, oauth2
